
.stamp-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  text-align: center;
  width: 100%; 
}

.stamp-btn.not-stamped {
  background-color: #2980b9;
  color: white;
}

.stamp-btn.not-stamped:hover {
  background-color: #3498db;
}

.stamp-btn.is-stamped {
  background-color: #27ae60;
  color: white;
}


.stamp-btn.is-stamped:hover {
  background-color: #e74c3c; 
}